{% extends "base.html" %}

{% block content %}
<div id="content" class="content">
	<h1 class="page-header"> Dashboard </h1>
	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h4 class="panel-title">Vanzari</h4>
			<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table table-bordered">
				<thead>
				<tr>
					<th>Campanie</th>
					<th>Magazin</th>
					<th>Numar Bon</th>
					<th>Data</th>
					<th>Produse Vandute</th>
					<th>Premiu Acordat</th>
				</tr>
				</thead>
				<tbody>
				<td class="with-checkbox">123</td>
				<td class="with-checkbox">123</td>
				<td class="with-checkbox">123</td>
				<td class="with-checkbox">123</td>
				</tbody>
			</table>
		</div>
	</div>
	<div class="panel panel-inverse">
		<div class="panel-heading">
			<h4 class="panel-title">Stoc Magazin</h4>
			<div class="panel-heading-btn">
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></a>
				<a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-minus"></i></a>
			</div>
		</div>
		<div class="panel-body">
			<table class="table">
				<thead class="bg-black-transparent-4">
				<tr>
					<th>Produs</th>
					<th>Cantitate</th>
				</tr>
				</thead>
				{% if product_list %}
				{% for product in product_list %}
				<tbody>
				<td class="with-checkbox">{{ product }}</td>
				<td class="with-checkbox">{{ product.quantity }}</td>
				</tbody>
				{% endfor %}
				{% else %}
				<tbody>
				<td class="with-checkbox">-</td>
				<td class="with-checkbox">-</td>
				</tbody>
				{% endif %}
			</table>
		</div>
	</div>
</div>
{% endblock %}