<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8" />
	<title>ValidareITDR | Login Page</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
{% load static %}
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="/static/css/transparent/app.min.css" rel="stylesheet" />
	<!-- ================== END BASE CSS STYLE ================== -->
</head>
<body class="pace-top">
	{% block content %}
	<h1> sunt un magar</h1>
    {% endblock %}
</body>
</html>