<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Validare ITDR | Dashboard</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	{% load static %}
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.4/css/dx.common.css">
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/20.2.4/css/dx.dark.compact.css">
	<link href="{% static 'css/transparent/app.min.css' %}" rel="stylesheet">
    <!-- DEV -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/exceljs/4.1.1/exceljs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"></script>



        <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/20.2.4/js/dx.all.js"></script>

</head>
<body>
	<!-- begin page-cover -->
	<div class="page-cover"></div>
	<!-- end page-cover -->

	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show">
		<span class="spinner"></span>
	</div>
	<!-- end #page-loader -->

	<!-- begin #page-container -->
	<div id="page-container" class="page-container fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div id="header" class="header navbar-default">
			<!-- begin navbar-header -->
			<div class="navbar-header">
				<a href="{% url 'index'%}" class="navbar-brand"><span class="navbar-logo"></span> <b>Validare</b> ITDR</a>
			</div>
			<!-- end navbar-header -->
			<!-- begin header-nav -->
			<ul class="navbar-nav navbar-right">
				<li class="dropdown navbar-user">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<div class="image image-icon bg-black text-grey-darker">
							<i class="fa fa-user"></i>
						</div>
						<span class="d-none d-md-inline">{{user.get_username.capitalize}}</span> <b class="caret"></b>
					</a>
					<div class="dropdown-menu dropdown-menu-right">
						<a href="{% url 'logout'%}?next={{request.path}}" class="dropdown-item">Log Out</a>
					</div>
				</li>
			</ul>
			<!-- end header navigation right -->
		</div>
		<!-- end #header -->

		<!-- begin #sidebar -->
		<div id="sidebar" class="sidebar">
			<!-- begin sidebar scrollbar -->
			<div data-scrollbar="true" data-height="100%">
				<!-- begin sidebar user -->
				<ul class="nav">
					<li class="nav-profile">
						<a href="javascript:;" data-toggle="nav-profile">
							<div class="cover with-shadow"></div>
							<div class="image image-icon bg-black text-grey-darker">
								<i class="fa fa-user"></i>
							</div>
							<div class="info"> {{shop.user}}
								<small>{{ shop.name }}</small>
							</div>
						</a>
					</li>
				</ul>
				<!-- end sidebar user -->
				<!-- begin sidebar nav -->
				<ul class="nav">
					<li class="active">
						<a href="{% url 'index'%}">
							<i class="fa fa-th-large"></i>
							<span>Home</span>
						</a>
					</li>
					<li class="has-sub">
                        {% if active_campaign %}
						<a href="{% url 'transactions' %}">
							<i class="far fa-check-circle"></i>
							<span>Validare Bon</span>
						</a>
                        <a href="{% url 'campaign' %}">
							<i class="fas fa-exchange-alt"></i>
							<span>Schimba Campanie</span>
						</a>
						<a href="javascript:;">
							<i class="fa fa-question-circle"></i>
							<span>Manual de Utilizare</span>
						</a>
						<a href="javascript:;">
							<i class="fa fa-info-circle"></i>
							<span>Regulament Campanie</span>
						</a>
						<a href="javascript:;">
							<i class="fa fa-info-circle"></i>
							<span>Prezentare Campanie</span>
						</a>
                        {% else %}
                        <a href="{% url 'campaign' %}">
							<i class="fas fa-exchange-alt"></i>
							<span>Schimba Campanie</span>
						</a>
                        {% endif %}

					</li>
					<!-- begin sidebar minify button -->
					<li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
					<!-- end sidebar minify button -->
				</ul>
				<!-- end sidebar nav -->
			</div>
			<!-- end sidebar scrollbar -->
		</div>

        {% block content %}{% endblock %}

		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->

	<!-- ================== BEGIN BASE JS ================== -->
	<script src="{% static 'js/app.min.js' %}"></script>
	<!-- ================== END BASE JS ================== -->

    <!-- ================== BEGIN PAGE LEVEL JS ================== -->
    <script src="{% static 'custom_js/smartWizard.js' %}"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	{% block scripts %} {% endblock %}

</body>
</html>

