{% extends "base.html" %}
{% load static %}
{% block content %}

<div id="content" class="content">
	<h1 class="page-header">Validation <small><i> Campaign: {{ selected_campaign }}</i></small></h1>
	<!-- end page-header -->
	<!-- begin wizard-form -->
	<form action="/" method="POST" name="form-wizard" class="form-control-with-bg" data-parsley-validate="">
		{% csrf_token %}
		<!-- begin wizard -->
		<div id="wizard">
			<!-- begin wizard-step -->
			<ul>
				<li id="li_step-1" onclick="firstStep()">
					<a href="#step-1" class="nav-link">
						<span class="number">1</span>
						<span class="info">
							Ticket Number
							<small>Enter your ticket number</small>
						</span>
					</a>
				</li>
				<li id="li_step-2" onclick="ticketValidation()">
					<a href="#step-2" class="nav-link">
						<span class="number">2</span>
						<span class="info">
							Products
							<small>Select the products</small>
						</span>
					</a>
				</li>
				<li id="li_step-3">
					<a href="#step-3" class="nav-link">
						<span class="number">3</span>
						<span class="info">
							Awards
							<small>Select the prize</small>
						</span>
					</a>
				</li>
			</ul>
			<!-- end wizard-step -->
			<!-- begin wizard-content -->
			<div class="sw-container tab-content" style="min-height: 518px;">
				<!-- begin step-1 -->
				<div id="step-1" class="tab-pane step-content">
					<!-- begin fieldset -->
					<fieldset>
						<!-- begin row -->
						<div class="row">
							<!-- begin col-8 -->
							<div class="col-xl-8 offset-xl-2">
								<div class="form-group row m-b-10">
									<label class="col-lg-3 text-lg-right col-form-label">Ticket Number</label>
									<div class="col-lg-9">
										<input class="form-control m-b-10" id="ticketValue" autocomplete="off" type="text" data-parsley-type="number" data-parsley-required="true" data-parsley-group="step-1">
									</div>
								</div>
							</div>
							<!-- end col-8 -->
						</div>
						<!-- end row -->
					</fieldset>
					<!-- end fieldset -->
				</div>
				<!-- end step-1 -->
				<!-- begin step-2 -->
				<div id="step-2" class="tab-pane step-content" name="step-2">
					<div class="row">
						<!-- begin fieldset -->
						{% for prod in product_list %}
						<div class="col-lg-3" style="padding: 10px">
							<div class="card text-center">
								<div class="card-header" onclick="setQuantity(this, 1)" style="cursor: pointer;">
									<img src="{% static prod.url_img %}" alt="{{ prod.name }}">
								</div>
								<div onclick="setQuantity(this, 1)" style="font-weight: 600; color: white; cursor: pointer">{{ prod.name }}</div>
								<div class="card-footer">
									<input class="form-control m-b-10 prodValue" autocomplete="off" id="{{ prod.id }}" type="number" data-parsley-type="number" data-parsley-group="step-2" value="0">
								</div>
							</div>
						</div>
						{% endfor %}
					</div>
					<div class="alert alert-warning fade show" style="display: none">
						<span class="fa-stack fa-1x">
							<i class="far fa-times-circle fa-stack-2x"></i>
						</span>
						<strong>Select a product!</strong>
					</div>
				</div>
				<!-- end step-2 -->
				<!-- begin step-3 -->
				<div id="step-3" class="tab-pane step-content">
					<div class="row">
						<div class="dx-radiogroup dx-widget dx-radiogroup-horizontal" role="radiogroup" tabindex="0" aria-activedescendant="dx-11a11f59-d28b-dc6a-7c36-edcd0bad7e0a">
							<input type="hidden" id="id_prize" value="0">
							<div class="dx-widget dx-collection">
								<div class="dx-item dx-radiobutton dx-radiobutton-checked" role="radio" aria-checked="true" style="height: auto;">
									<div class="dx-item-content">
										<div class="card text-center">
											<div class="card-header">
												<img src="" id="img_prize" width="150" height="150">
											</div>
											<div style="font-weight: 600; color:white;" id="name_prize"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- end step-3 -->
				</div>
			<div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end" id="step1">
				<div class="btn-group mr-2 sw-btn-group" role="group">
					<button class="btn btn-purple" type="button" onclick="is_ticket_in_use()">Next</button>
				</div>
			</div>
			<div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end" id="step2">
				<div class="btn-group mr-2 sw-btn-group" role="group">
					<button class="btn btn-secondary sw-btn-prev disabled" type="button" onclick="firstStep()">Back</button>
					<button class="btn btn-purple sw-btn-next" type="button" onclick="is_product_in_use()">Next</button>
				</div>
			</div>
			<div class="btn-toolbar sw-toolbar sw-toolbar-bottom justify-content-end" id="step3">
				<div class="btn-group mr-2 sw-btn-group" role="group">
					<button class="btn btn-secondary sw-btn-prev disabled" type="button" onclick="secondStep()">Back</button>
					<button class="btn btn-purple sw-btn-next" id="save_tranzaction" type="button" onclick="save_transaction()">Save</button>
				</div>
			</div>
			<!-- end wizard-content -->
		</div>
		<!-- end wizard -->
	</form>
	<!-- end wizard-form -->
</div>
<script>
	var get_quqntity = function () {
        var quantity = 0;
        for (var i = 0; i < $('.prodValue').length; i++) {
            if ($('.prodValue')[i].value == '') {
                $('.prodValue')[i].value = 0;
            }
            quantity = quantity + parseInt($('.prodValue')[i].value);
		};
		return quantity;
	}

    var is_ticket_in_use = function () {
        var ticketNo = document.getElementById('ticketValue').value;
        $.ajax({
            url: "{% url 'ticket_in_use' %}",
            data: {
                'ticket': ticketNo
            },
            success: function (data) {
                if ($('#errorMsg').length > 0) {
                    $('#errorMsg').remove();
                }
                if (data.is_taken == 1) {
                    $('#ticketValue').after('<ul class="parsley-errors-list filled" id="errorMsg"><li class="parsley-type">Invalid ticket number!</li></ul>');
                } else if (data.is_taken == 2) {
                    $('#ticketValue').after('<ul class="parsley-errors-list filled" id="errorMsg"><li class="parsley-type">The ticket number already exists!</li></ul>');
                } else {
                    secondStep();
                }
            }
        });
	};

    var is_product_in_use = function () {
        $.ajax({
            type: 'GET',
            url: "{% url 'product_in_use' %}",
            data: {
                'quantity': get_quqntity()
            },
            success: function (response) {
				if (response.response) {
					if (response.quantity == 0) {
						thirdStep();
						$('#save_tranzaction').css('display', 'none');
                        document.getElementById('img_prize').src = '	/static/img/prize/zero_prize.png'
					} else {
                        thirdStep();
                        document.getElementById('img_prize').src = response.url_img;
                        $('#name_prize').html(response.name);
                        document.getElementById('id_prize').value = response.id;
                    }
                }
                else {
                    $('.alert').css('display', 'block')
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    };

    var save_transaction = function () {
        var ticketNo = document.getElementById('ticketValue').value;
        var productsSell = [];
        for (var i = 0; i < $('.prodValue').length; i++) {
            if ($('.prodValue')[i].value != '' && $('.prodValue')[i].value != '0') {
                productsSell.push({
                    id: $('.prodValue')[i].id,
                    value: $('.prodValue')[i].value
                });
            }
        };
        console.log(productsSell);
        var idPrize = document.getElementById('id_prize').value;

		var data = {
            'quantity': get_quqntity(),
            'ticketNo': ticketNo,
            'productsSell': JSON.stringify(productsSell),
            'idPrize': idPrize
        }
        $.ajax({
            type: 'POST',
            url: "{% url 'save_transaction' %}",
            data: data,
            success: function (response) {
                if (response.response) {
                    window.location.reload()
                }
                else {
                    $('.alert').css('display', 'block')
                }
            },
            error: function (response) {
                console.log(response);
            }
        });
    };
</script>
{% endblock %}

